.other-hostel{
	float:left;
	margin:10px;
}
.home{
	overflow:scroll;
}

/*{margin:0px; padding:0px;}
#ModNav{height:50px; background-color:#00008B; margin-top:0px;}
#ModNav ul li{float:left; width:16%; line-height:50px; list-style-type:none; text-align:center;}
#ModNav ul li a{text-decoration:none; font-size:25px; color:#FFFFFF; font-family:comic sans ms; display:block;}
#ModNav ul li a:hover{text-decoration:underline; font-weight:bolder; color:#B87333;}
.separator{display:none;}
/*===========================================================================================================
								INDEX PAGE STYLINE
								DATE 20/01/2017
=============================================================================================================*/
/*#IndexUpper{width:100%; height:500px; background-color:#FFFFFF;}
.slideshow{width:60%; float:left; height:498px; border:2px solid #808080;}
.aside{width:39%; float:right; height:490px; text-align:center; color:#B87333;  border:2px solid #808080;}
.aside h1{font-size:40px; font-weight:bolder;}
.aside p{font-size:30px; font-weight:bolder;}
.contact{display:none;}
#ArticleSection{background-color:#D3D3D3; height:auto; width:100%;}
#SectionLeft{width:28%; float:left; margin-left:20px; text-align:center;}
#SectionCenter{width:28%; float:left; background-color:#D3D3D3; border:1px solid #808080; text-align:center; font-size:20px;}
#SectionRight{width:40%; float:left; margin-left:20px;}
/*===========================================================================================================
								FOOTER PAGE STYLING
								DATE 21/01/2017
=============================================================================================================*/
/*#PageFooter {clear:both;}
#LowerFooter {background-color:#000000; height:200px; width:100%; color:#FFFF00;}
.LowerLeft{width:30%; text-align:center; float:left;}
.LowerCenter {width:30%; float:left; text-align:center;}
.LowerRight {width:30%; float:left; text-align:center;}
/*===========================================================================================================
								BOOK ROOM PAGE STYLING
								DATE 21/01/2017
=============================================================================================================*/
/*#BookSection{width:90%; background-color:#D3D3D3; margin:auto;}
#BookSection h1{font-size:50px; color:#A52A2A; text-align:center;}
h3{text-align:center; text-decoration:underline; font-size:30px; color:#8B4513;}
.TableR{text-align:center;}
.RoomImage{border:2px solid #000000; width:400px; height:300px;}
.available{color:#008000; font:italic;}
.price{color:#A52A2A; font-weight:bolder;}
/*===========================================================================================================
								CONTACT ROOM PAGE STYLING
								DATE 23/01/2017
=============================================================================================================*/
/*#ContactLeft{width:50%; float:left; padding:20px; font-size:20px;}
#ContactRight{width:47%; float:left; text-align:center;}
.ModInput{font-size:20px; border-radius:5px; padding:5px; border:2px solid #808080;}
.ModSubmit{width:500px; font-size:25px; color:#FFFFFF; border-radius:5px; background-color:#CD853F;}
.ModSubmit:hover{font-weight:bolder; background-color:#A52A2A; cursor:pointer;}
/*===========================================================================================================
								APPLICATION INFO STYLING
								DATE 23/01/2017
=============================================================================================================*/
/*.appinfo{font-weight:bolder;}
.ModInput{width:500px;}
.home{text-align:center;}
#ApplicationBody{background-image: url(../images/md1.JPG); background-size:cover;}
#ApplicationSection{width:60%; height:700px; background-color:#D3D3D3;  background-image:none;  margin:auto; margin-top:50px; border-radius:5px; padding:40px; padding-left:60px; opacity:0.9;}
#ApplicationBody h1{text-align:center; font-weight:bolder; color:#A52A2A;}
.TableRow{text-align:right;}
.TableRow td{padding:10px;}
/*===========================================================================================================
								BLOG STYLING
=============================================================================================================*/
/*#blogInfo{width:80%; margin:auto;}*/
